/* Main Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
/*    min-height: 100vw; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    flex-grow: 1; /* Ensure main content takes up available space */
}

.container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto; /* Centers content in the middle of the screen */
    margin-right: auto; /* Centers content in the middle of the screen */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

header {
    background-color: #09122c;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 0.875rem;
    color: #ffffff;
}

.nav-links a { /* targets anchors within the .nav-links */
    color: inherit;
    text-decoration: none;
}

.hero {
    background-color: #09122c;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%; /* sets the content to take up 50% of usable space in flexbox */
    margin-bottom: 2rem;
}

.hero-title {
    color: #ffffff;
    font-weight: 200;
}

.hero-comment {
    color: #e9e9e9;
    font-weight: 100;
}

.hero-image-container {
    flex-basis: 50%; /* sets the content to take up 50% of usable space in flexbox */
    height: 20rem;
    max-width: 500px; /*match with image max-width to get a clear and unaltered image */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-image {
    height: 100%;
    width: auto;
    max-width: 500px;
    border-radius: 0.375rem;
}

.must-try {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.must-try-container {
    text-align: center; /* applying this to the container will center all text within it */
}

.must-try-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #09122c;
}

.recipe-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
}

.recipe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 15px 5px #a7a7a7;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.recipe-image {
    width: 15rem;
    height: 15rem;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
}

.recipe-tag {
    color: #09122c;
    font-weight: 100;
}

.kitchen-terms {
    background-color: #e9e9e9;
}

.kitchen-terms-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.kitchen-terms-title {
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #09122c;
}

.kitchen-term-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.kitchen-term-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 15rem;
    width: 15rem;
    box-shadow: 0 0 15px 5px #a7a7a7;
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: #ffffff;
}

footer {
    background-color: #09122c;
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

/* Recipe Pages */

.title {
    background-color: #09122c;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.title-container {
    text-align: center;
    color: #ffffff;
}

.recipe {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recipe-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.recipe-photo img {
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 5px #a7a7a7;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe-list {
    list-style: none;
}

.recipe-list li {
    margin: 0.5rem 0;
}

.home-link {
    text-align: center;
}